
<div id="header">
  <nav>
    <li class="fork"><a href="https://github.com/brice-digilus?tab=repositories&q=infrared">View On GitHub</a></li>

    <li><a href="{{ "/index.html" | prepend: site.baseurl }}" id="intro">Home</a></li>

    <li><a href="{{ "/Updates" | prepend: site.baseurl }}" id="updates">Updates</a></li>

    <li><a href="{{ "/Hardware" | prepend: site.baseurl }}" id="hard">Hardware</a></li>

    <li><a href="{{ "/Software" | prepend: site.baseurl }}" id="soft">Software</a></li>

    <!-- <li><a href="{{ "/Sensor" | prepend: site.baseurl }}" id="sensor">Sensor</a></li> -->

    <!-- <li><a href="{{ "/History" | prepend: site.baseurl }}" id="history">History</a></li> -->

    <li><a href="{{ "/Photos" | prepend: site.baseurl }}" id="photos">Photos</a></li>

  </nav>
</div><!-- end header -->
